# Dependency directories
node_modules/

# Build artifacts
dist/
build/

# Log files
*.log

# Environment variables
.env

# Editor-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db